* {
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

.chatContainer {
    border-radius: 0.25rem;
}

.chat-message-from-user-name {
    font-size: 0.75rem;
    line-height: 1rem;
}